@using RecipeManageSystem.Generic
@{
    var isDev = HttpContext.Current.IsDebuggingEnabled;
    var globalUrl = HttpContext.Current.Application["GlobalUrl"]?.ToString() ?? "/";
    var defaultUrl = isDev ? "" : globalUrl;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gudeng MES System</title>
    <link rel="stylesheet" href="~/Scripts/base/easyui/themes/color.css" />
    <link rel="stylesheet" href="~/Scripts/base/easyui/themes/icon.css" />
    <link rel="stylesheet" href="~/Scripts/base/easyui/themes/default/easyui.css" />
    <link rel="stylesheet" href="~/Scripts/base/bootstrap/bootstrap4.css" />
    <link rel="stylesheet" href="~/Scripts/base/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/Content/Site.css?v=0.21" />

    @RenderSection("css", required: false)
</head>
<style>
    .easyui-layout {
        width: 100%;
        min-height: calc(100vh - 95px);
    }

    .easyui-datagrid {
        min-height: 82%
    }

    @@media (min-width: 1601px) {
        .easyui-layout {
            min-height: calc(100vh - 109px);
        }

        .easyui-datagrid {
            min-height: 89%
        }
    }
</style>
<body>
    <div class="header-nav navbar navbar-default navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img src="~/Content/logo.png" style="width:140px; margin-top:-8px;" /></a>
                <button class="navbar-toggler navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarbtn" aria-controls="navbarbtn" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse main-header" id="navbarbtn">
                <ul class="nav navbar-nav mr-auto float-right text-right pr-3 navbar-menu">
                </ul>
                <ul class="nav navbar-nav navbar-right float-right text-right pr-3 navbar-right-icon">

                    <li>
                        <a href="/Admin/Account/Login">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span class="hidden-easy xs">
                                @if (User != null && User.Identity.IsAuthenticated)
                                {@((User as CustomPrincipal).UserName);
                                }
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Account/Logout">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="flex-1">
        <div class="container-fluid d-flex" style="width: 98%; margin: 10px 10px">
            <div class="easyui-layout" id="easyui-layout">
                <div data-options="region:'west',split:true" title="功能選單" style="width:200px;">
                    <ul class="easyui-tree" data-options="animate:true,onClick:menuClick">
                        @*<li>
                            <span>🏭 機台管理</span>
                            <ul>
                                <li data-options="attributes:{url:'/MachineList/Index'}">機台清單</li>
                            </ul>
                        </li>*@
                        <li>
                            <span>📋 參數管理</span>
                            <ul>
                                <li data-options="attributes:{url:'@Url.Action("Index","Param")'}">
                                    參數管理
                                </li>
                                <li data-options="attributes:{url:'@Url.Action("Index","MachineParam")'}">
                                    機台參數對照表維護
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span>🧪 機台標準參數</span>
                            <ul>
                                <li data-options="attributes:{url:'@Url.Action("Index","RecipeManage")'}">
                                    PMC參數管理
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span>👤 設定管理</span>
                            <ul>
                                <li data-options="attributes:{url:'@Url.Action("RoleList","Permission")'}">
                                    權限管理
                                </li>
                                <li data-options="attributes:{url:'@Url.Action("UserList","Permission")'}">
                                    使用者清單
                                </li>
                                <li data-options="attributes:{url:'@Url.Action("Index","AlarmManage")'}">
                                    警報發送設定
                                </li>                                
                                <li data-options="attributes:{url:'@Url.Action("Index","SupervisorEngineer")'}">
                                    主管-工程師維護表
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <!-- 主內容區 -->
                <div data-options="region:'center'" style="padding:10px;">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div id="footer-inner" style="text-align: center; font-size: xx-small">
            Copyright © 2024 Gudeng Industrial Corp. All Rights Reserved.
        </div>
    </div>
    <script src="~/Scripts/base/jquery/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/base/bootstrap/bootstrap4.js"></script>
    <script src="~/Scripts/base/easyui/jquery.easyui.min.js"></script>
    <script>
        function menuClick(node) {
            const url = node.attributes?.url || node.url || node['data-url'];
            if (url) {
                window.location.href = url;
            }
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>







